{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <style>
        .form-control {
            border: 2px solid black;
        }
    </style>
    <h2 class="d-flex justify-content-center mb-5">Créer une critique</h2>
    <div class="border border-dark p-3">
        <p>Vous êtes en train de poster en réponse à</p>
        <div class="border border-dark p-3 m-3">
            <div class="row">
                <div class="col">
                    <p>{{ ticket.user }} a demandé une critique</p>
                </div>
                <div class="col">
                    <p class="d-flex flex-row-reverse"><small>{{ ticket.time_created }}</small></p>
                </div>
            </div>
            <p>{{ ticket.title }}</p>
            <p>{{ ticket.description }}</p>
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}"
                         alt="Couverture du livre : {{ ticket.title }}"
                         title="Couverture du livre : {{ ticket.title }}">
                {% endif %}
            </div>
    </div>
    <div class="border border-dark p-3">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success">Envoyer</button>
            </div>
        </form>
    </div>

{% endblock content %}