{% extends 'base.html' %}
{% block content %}
    <h2 class="d-flex justify-content-center">Vos posts</h2>
    {% for post in tickets_and_reviews %}
        {% if post.title %}
            <div class="border border-dark p-3 m-3">
                <div class="row">
                    <div class="col">
                        <p>{% if post.user == request.user %}Vous avez{% else %}{{ post.user }} a{% endif %} demandé une critique</p>
                    </div>
                    <div class="col">
                        <p class="d-flex flex-row-reverse"><small>{{ post.time_created }}</small></p>
                    </div>
                </div>
                <p>{{ post.title }}</p>
                <p>{{ post.description }}</p>
                <div class="row">
                    <div class="col">
                        {% if post.image %}
                            <img src="{{ post.image.url }}"
                                 alt="Couverture du livre : {{ post.title }}"
                                 title="Couverture du livre : {{ post.title }}">
                        {% endif %}
                    </div>
                    <div class="col d-flex justify-content-end align-items-end gap-2">
                        <a href="{% url 'blog:update_ticket' post.id %}" class="btn btn-secondary">Modifier</a>
                        <a href="{% url 'blog:delete_ticket' post.id %}" class="btn btn-danger">Supprimer</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="border border-dark p-3 m-3">
                <div class="row">
                    <div class="col">
                        <p>{% if post.user == request.user %}Vous avez{% else %}{{ post.user }} a {% endif %} publié une critique</p>
                    </div>
                    <div class="col">
                        <p class="d-flex flex-row-reverse"><small>{{ post.time_created }}</small></p>
                    </div>
                </div>
                <p class="fs-4">
                    {{ post.headline }} -
                    <span class="rating">
                        {% for i in rating_range %}
                            {% if i <= post.rating %}
                                <span class="star filled">★</span>
                            {% else %}
                                <span class="star">☆</span>
                            {% endif %}
                        {% endfor %}
                    </span>
                </p>
                <p>{{ post.body }}</p>
                <div class="border border-dark p-3 m-3">
                    <p>Ticket - {{ post.ticket.user }}</p>
                    <p> {{ post.ticket.title }}</p>
                    <p> {{ post.ticket.description }}</p>
                    {% if post.ticket.image %}
                        <img src="{{ post.ticket.image.url }}"
                             alt="Couverture du livre : {{ post.ticket.title }}"
                             title="Couverture du livre : {{ post.ticket.title }}">
                    {% endif %}
                </div>
                <div class="d-flex justify-content-end align-items-end gap-2">
                    <a href="{% url 'blog:update_review' post.id %}" class="btn btn-secondary">Modifier</a>
                    <a href="{% url 'blog:delete_review' post.id %}" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock content %}










